@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
 
}
.container{
  border: 2px solid whitesmoke;
  padding: 20px;
  box-shadow: 10px 10px 10px 10px whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(235, 228, 228, 0.2);
}

.heading{
  font-family: poppins;
}

.grid-main{
  display: grid;
  grid-template-columns: auto auto;
  /* background-color: aquamarine; */
  /* border: 2px solid black; */
  grid-gap: 10px;
}

.grid-child{
  border: 2px solid whitesmoke;
  border-radius: 15px;
  padding: 10px;
  margin-top: 40px;
  cursor: pointer;
}

.grid-child:hover{
  background-color: whitesmoke;
  color: #212121;
}

.grid-child h3{
  font-family: poppins;
  font-weight: 700;

}

.grid-child p{
  font-family: poppins;
  font-weight: 500;
  font-size: 15px;

}

.translation{
  box-sizing: border-box;
  /* width: 100vw;
  height: 100vh; */
}

.text-area{
  margin-top: 5px;
  font-size: 20px;
  padding: 10px;
  font-family: poppins;
}
.result-text{
  padding: 10px;
}